<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>min</th>
      <th>max</th>
      <th>mean</th>
    </tr>
    <tr>
      <th>curr</th>
      <th>base</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AUD</th>
      <th>USD</th>
      <td>1.24320</td>
      <td>1.24320</td>
      <td>1.24320</td>
    </tr>
    <tr>
      <th>BGN</th>
      <th>USD</th>
      <td>1.63020</td>
      <td>1.63020</td>
      <td>1.63020</td>
    </tr>
    <tr>
      <th>BRL</th>
      <th>USD</th>
      <td>3.08890</td>
      <td>3.08890</td>
      <td>3.08890</td>
    </tr>
    <tr>
      <th>CAD</th>
      <th>USD</th>
      <td>1.21210</td>
      <td>1.21210</td>
      <td>1.21210</td>
    </tr>
    <tr>
      <th>CHF</th>
      <th>USD</th>
      <td>0.95057</td>
      <td>0.95057</td>
      <td>0.95057</td>
    </tr>
    <tr>
      <th>CNY</th>
      <th>USD</th>
      <td>6.52900</td>
      <td>6.52900</td>
      <td>6.52900</td>
    </tr>
    <tr>
      <th>CZK</th>
      <th>USD</th>
      <td>21.73600</td>
      <td>21.73600</td>
      <td>21.73600</td>
    </tr>
    <tr>
      <th>DKK</th>
      <th>USD</th>
      <td>6.20130</td>
      <td>6.20130</td>
      <td>6.20130</td>
    </tr>
    <tr>
      <th>EUR</th>
      <th>USD</th>
      <td>0.83354</td>
      <td>0.83354</td>
      <td>0.83354</td>
    </tr>
    <tr>
      <th>GBP</th>
      <th>USD</th>
      <td>0.75665</td>
      <td>0.75665</td>
      <td>0.75665</td>
    </tr>
    <tr>
      <th>HKD</th>
      <th>USD</th>
      <td>7.81290</td>
      <td>7.81290</td>
      <td>7.81290</td>
    </tr>
    <tr>
      <th>HRK</th>
      <th>USD</th>
      <td>6.19170</td>
      <td>6.19170</td>
      <td>6.19170</td>
    </tr>
    <tr>
      <th>HUF</th>
      <th>USD</th>
      <td>255.30000</td>
      <td>255.30000</td>
      <td>255.30000</td>
    </tr>
    <tr>
      <th>IDR</th>
      <th>USD</th>
      <td>13162.00000</td>
      <td>13162.00000</td>
      <td>13162.00000</td>
    </tr>
    <tr>
      <th>ILS</th>
      <th>USD</th>
      <td>3.52210</td>
      <td>3.52210</td>
      <td>3.52210</td>
    </tr>
    <tr>
      <th>INR</th>
      <th>USD</th>
      <td>63.91100</td>
      <td>63.91100</td>
      <td>63.91100</td>
    </tr>
    <tr>
      <th>JPY</th>
      <th>USD</th>
      <td>108.68000</td>
      <td>108.68000</td>
      <td>108.68000</td>
    </tr>
    <tr>
      <th>KRW</th>
      <th>USD</th>
      <td>1131.80000</td>
      <td>1131.80000</td>
      <td>1131.80000</td>
    </tr>
    <tr>
      <th>MXN</th>
      <th>USD</th>
      <td>17.68300</td>
      <td>17.68300</td>
      <td>17.68300</td>
    </tr>
    <tr>
      <th>MYR</th>
      <th>USD</th>
      <td>4.19750</td>
      <td>4.19750</td>
      <td>4.19750</td>
    </tr>
    <tr>
      <th>NOK</th>
      <th>USD</th>
      <td>7.81110</td>
      <td>7.81110</td>
      <td>7.81110</td>
    </tr>
    <tr>
      <th>NZD</th>
      <th>USD</th>
      <td>1.37550</td>
      <td>1.37550</td>
      <td>1.37550</td>
    </tr>
    <tr>
      <th>PHP</th>
      <th>USD</th>
      <td>50.83800</td>
      <td>50.83800</td>
      <td>50.83800</td>
    </tr>
    <tr>
      <th>PLN</th>
      <th>USD</th>
      <td>3.53760</td>
      <td>3.53760</td>
      <td>3.53760</td>
    </tr>
    <tr>
      <th>RON</th>
      <th>USD</th>
      <td>3.83320</td>
      <td>3.83320</td>
      <td>3.83320</td>
    </tr>
    <tr>
      <th>RUB</th>
      <th>USD</th>
      <td>57.19700</td>
      <td>57.19700</td>
      <td>57.19700</td>
    </tr>
    <tr>
      <th>SEK</th>
      <th>USD</th>
      <td>7.97740</td>
      <td>7.97740</td>
      <td>7.97740</td>
    </tr>
    <tr>
      <th>SGD</th>
      <th>USD</th>
      <td>1.34440</td>
      <td>1.34440</td>
      <td>1.34440</td>
    </tr>
    <tr>
      <th>THB</th>
      <th>USD</th>
      <td>33.13000</td>
      <td>33.13000</td>
      <td>33.13000</td>
    </tr>
    <tr>
      <th>TRY</th>
      <th>USD</th>
      <td>3.39910</td>
      <td>3.39910</td>
      <td>3.39910</td>
    </tr>
    <tr>
      <th>ZAR</th>
      <th>USD</th>
      <td>12.93200</td>
      <td>12.93200</td>
      <td>12.93200</td>
    </tr>
  </tbody>
</table>