<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>base</th>
      <th>curr</th>
      <th>date</th>
      <th>rates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USD</td>
      <td>IDR</td>
      <td>2017-09-15</td>
      <td>13162.00000</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>BGN</td>
      <td>2017-09-15</td>
      <td>1.63020</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>ILS</td>
      <td>2017-09-15</td>
      <td>3.52210</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>GBP</td>
      <td>2017-09-15</td>
      <td>0.75665</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>DKK</td>
      <td>2017-09-15</td>
      <td>6.20130</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>CAD</td>
      <td>2017-09-15</td>
      <td>1.21210</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>JPY</td>
      <td>2017-09-15</td>
      <td>108.68000</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>HUF</td>
      <td>2017-09-15</td>
      <td>255.30000</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>RON</td>
      <td>2017-09-15</td>
      <td>3.83320</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>MYR</td>
      <td>2017-09-15</td>
      <td>4.19750</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>SEK</td>
      <td>2017-09-15</td>
      <td>7.97740</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>SGD</td>
      <td>2017-09-15</td>
      <td>1.34440</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>HKD</td>
      <td>2017-09-15</td>
      <td>7.81290</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>AUD</td>
      <td>2017-09-15</td>
      <td>1.24320</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>CHF</td>
      <td>2017-09-15</td>
      <td>0.95057</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>KRW</td>
      <td>2017-09-15</td>
      <td>1131.80000</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>CNY</td>
      <td>2017-09-15</td>
      <td>6.52900</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>TRY</td>
      <td>2017-09-15</td>
      <td>3.39910</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>HRK</td>
      <td>2017-09-15</td>
      <td>6.19170</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>NZD</td>
      <td>2017-09-15</td>
      <td>1.37550</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>THB</td>
      <td>2017-09-15</td>
      <td>33.13000</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>EUR</td>
      <td>2017-09-15</td>
      <td>0.83354</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>NOK</td>
      <td>2017-09-15</td>
      <td>7.81110</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>RUB</td>
      <td>2017-09-15</td>
      <td>57.19700</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>INR</td>
      <td>2017-09-15</td>
      <td>63.91100</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>MXN</td>
      <td>2017-09-15</td>
      <td>17.68300</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>CZK</td>
      <td>2017-09-15</td>
      <td>21.73600</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>BRL</td>
      <td>2017-09-15</td>
      <td>3.08890</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>PLN</td>
      <td>2017-09-15</td>
      <td>3.53760</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>PHP</td>
      <td>2017-09-15</td>
      <td>50.83800</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>ZAR</td>
      <td>2017-09-15</td>
      <td>12.93200</td>
    </tr>
  </tbody>
</table>